<div class="widget_html_home col-lg-4 col-md-4 col-sm-4 col-xs-6 col-sp-12">
	<div class="block_html_content bh_one">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_1 }}">
				<div class="">
					{{ 'home_html_1.png' | asset_url | img_tag: settings.home_blockhtml_tilte_1, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					<span>{{ settings.home_blockhtml_des_1 }}</span>
					<h4>{{ settings.home_blockhtml_tilte_1 }}</h4>
				</div>
			</a>
		</div>
	</div>
	<div class="block_html_content bh_two">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_2 }}">
				<div class="banner">
					{{ 'home_html_2.png' | asset_url | img_tag: settings.home_blockhtml_tilte_2, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					<h4>{{ settings.home_blockhtml_tilte_2 }}</h4>
					<span>{{ settings.home_blockhtml_des_2 }}</span>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="widget_html_home hidden-xs col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12">
	<div class="block_html_content bh_three">
		<div class="effect">
            <div class="">
              	{{ 'home_html_3.png' | asset_url | img_tag: settings.home_blockhtml_tilte_3, "img-responsive" }}
            </div>
            <div class="caption_block_html">
              	<span>{{ settings.home_blockhtml_des_3 }}</span>
              	<h4>{{ settings.home_blockhtml_tilte_3 }}</h4>
              	<a class="btn btn-default" href="{{ settings.home_blockhtml_link_3 }}" title="{{ settings.home_blockhtml_buttontxt_3 }}">
                	{{ settings.home_blockhtml_buttontxt_3 }}
              	</a>
            </div>
		</div>
	</div>
</div>
<div class="widget_html_home col-lg-4 col-md-4 col-sm-4 col-xs-6 col-sp-12">
	<div class="block_html_content bh_four">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_4 }}">
				<div class="">
					{{ 'home_html_4.png' | asset_url | img_tag: settings.home_blockhtml_tilte_4, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					<span>{{ settings.home_blockhtml_des_4 }}</span>
					<h4>{{ settings.home_blockhtml_tilte_4 }}</h4>
				</div>
			</a>
		</div>
	</div>
	<div class="block_html_content bh_five">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_5 }}">
				<div class="banner">
					{{ 'home_html_5.png' | asset_url | img_tag: settings.home_blockhtml_tilte_5, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					<h4>{{ settings.home_blockhtml_tilte_5 }}</h4>
					<span>{{ settings.home_blockhtml_des_5 }}</span>
				</div>
			</a>
		</div>
	</div>
</div>