<div class="block html_hbot">
  <div class="box-line margin_top">
    <div class="block-content">    	
      <div class="row products-row">
        <div class="banner-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="media border-left">
            <a class="media-left">
              <i class="fa-3x fa fa-{{ settings.home_blockhtmlbot_icon_1 }}"></i>
            </a>                        
            <div class="media-body">
              <h4>{{ settings.home_blockhtmlbot_title_1 }}</h4>
              <p>{{ settings.home_blockhtmlbot_des_1 }}</p>  
            </div>                        
          </div>
        </div>
        <div class="banner-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="media border-left">
            <a class="media-left">
              <i class="fa-3x fa fa-{{ settings.home_blockhtmlbot_icon_2 }}"></i>
            </a>                        
            <div class="media-body">
              <h4>{{ settings.home_blockhtmlbot_title_2 }}</h4>
              <p>{{ settings.home_blockhtmlbot_des_2 }}</p>  
            </div>                        
          </div>                  	
        </div>
        <div class="banner-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="media border-left">
            <a class="media-left">
              <i class="fa-3x fa fa-{{ settings.home_blockhtmlbot_icon_3 }}"></i>
            </a>                        
            <div class="media-body">
              <h4>{{ settings.home_blockhtmlbot_title_3 }}</h4>
              <p>{{ settings.home_blockhtmlbot_des_3 }}</p>  
            </div>                        
          </div>  
        </div>				
      </div>
    </div>
  </div>
</div>